# Create a copy of this file and name it .env
# Replace the values below with your own database credentials if you download this project

DB_USER=postgres
DB_PASSWORD=your_DB_password
DB_NAME=pharmacy_db
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET=secret
